In [4]:
import pandas as pd

Number_Deaths_df = pd.read_csv('Resources/OWID number-of-deaths-by-risk-factor.csv')

Mean_BMI_df = pd.read_csv('Resources/WHO Mean BMI (kg:m2).csv')

Mean_BMI_df = pd.read_csv('Resources/WHO Mean BMI (kg:m2).csv')

In [5]:
Number_Deaths_df

,Country,Year,Outdoor Air Pollution,Alcohol Use,Second Hand Smoke,Household Air Pollution,Low Physical Activity,Smoking,Air Pollution,High Body Mass Index,Drug Use
0,Afghanistan,1990,3169,356,4794,34372,2637,5174,37231,9518,174
1,Afghanistan,1991,3222,364,4921,35392,2652,5247,38315,9489,188
2,Afghanistan,1992,3395,376,5279,38065,2688,5363,41172,9528,211
3,Afghanistan,1993,3623,389,5734,41154,2744,5522,44488,9611,232
4,Afghanistan,1994,3788,399,6050,43153,2805,5689,46634,9675,247
...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,2015,2835,4854,1614,10435,309,8409,13246,5636,1068
6836,Zimbabwe,2016,2781,4915,1625,10365,318,8511,13131,5849,1042
6837,Zimbabwe,2017,2700,4992,1625,10257,327,8598,12926,6047,1007
6838,Zimbabwe,2018,2669,5044,1628,10113,335,8699,12745,6248,969
6839,Zimbabwe,2019,2680,5156,1646,10019,345,8838,12667,6475,963

In [6]:
Mean_BMI_df

           Country  Year         Sex  Average BMI
0         Ethiopia  2016        Male         20.1
1          Eritrea  2016        Male         20.2
2         Ethiopia  2016  Both sexes         20.6
3          Eritrea  2016  Both sexes         20.7
4       Madagascar  2016      Female         21.1
...            ...   ...         ...          ...
24565  South Sudan  1975      Female          NaN
24566  South Sudan  1975        Male          NaN
24567        Sudan  1975  Both sexes          NaN
24568        Sudan  1975      Female          NaN
24569        Sudan  1975        Male          NaN

[24570 rows x 4 columns]